
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #faf6f1;
    color: #3e2f25;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


.header {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.logo img {
    width: 45px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #3e2f25;
}

.nav-links a:hover {
    color: #a47148;
}


.hero {
    height: 90vh;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("../img/hero-bg.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0 25px;
}

.btn {
    background: #a47148;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    background: #8b5e3c;
}

/* MENU */
.menu {
    padding: 80px 0;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.menu-card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.menu-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.menu-card span {
    font-weight: 600;
    display: block;
    margin-top: 10px;
}

.about {
    background: #ede2d1;
    padding: 80px 0;
    text-align: center;
}


.contact {
    background: #3e2f25;
    color: white;
    padding: 80px 0;
    text-align: center;
}


.footer {
    background: #2c1f18;
    color: white;
    text-align: center;
    padding: 15px;
}
